<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://dubbo.apache.org/schema/dubbo
      http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!-- 提供方应用信息，用于计算依赖关系   监控需要使用-->
    <dubbo:application name="CustomerCenterOne"/>

    <!--  将userService 注册到服务中心  dubbo 点对点的直连 -->
    <!--   <dubbo:reference id="userService"
                          interface="cn.liuyangjob.dubbo.service.UserService"
                           registry="N/A"  url="dubbo://localhost:20880"/>
   -->
    <!--  dubbo  暴露服务，将服务注册到zk上 -->
    <!--  cache = true  提高消费者的响应速度，减轻提供者的压力。 基于结果的缓存，只需要更改消费者 -->
    <dubbo:registry address="zookeeper://113.142.70.112:2181" />
    <dubbo:reference interface="cn.liuyangjob.dubbo.service.UserService"
                     id="userService"
                     version="2.0.0"
                     cache="true"
    />


    <!--  方法缓存也成为服务缓存   指定提供服务的是2.0.0版本的服务  -->
    <dubbo:reference interface="cn.liuyangjob.dubbo.service.UserMethodCacheService"
                     id="userMethodCacheService"
                     version="1.0.0"
    >
        <!--   仅仅对sayHello进行一个lru的缓存 lru:最近1000记录进行缓存  threadlocal：当前线程缓存。jcache：使用其他第三方缓存 -->
        <dubbo:method name="sayHello" cache="lru"/>
    </dubbo:reference>
</beans>
